{
    "CN": "admin",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
      {
        "C": "{{ csr_country }}",
       "L": "{{ csr_location }}",
       "O": "system:masters",
       "OU": "{{ csr_organization_unit }}",
       "ST": "{{ csr_state }}"
      }
    ]
}