{
    "CN": "system:kube-proxy",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
       {
       "C": "{{ csr_country }}",
       "L": "{{ csr_location }}",
       "O": "system:kube-proxy",
       "OU": "{{ csr_organization_unit }}",
       "ST": "{{ csr_state }}"
        }
    ]
}