[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
WorkingDirectory={{kube_proxy_var_dir}}

ExecStart={{k8s_bin_dir}}/hyperkube kube-proxy --config {{ kube_proxy_var_dir }}/kube-proxy.config

Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
